body{
    background: #f5f5f5; 
}
.body-container{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    color: #000;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    
}
.title{
    font-weight: 700;
    font-size: 20px;
    padding: 20px 10px;
}
.hide{
    display: none;
}
.btn-wrap{
    display: flex;
    justify-content: center;
}
.btn-wrap .btn-recommend{
    border: 1px solid rgb(109, 109, 109);
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 16px;
}
.btn-wrap .btn-recommend:focus{
    outline: none;
}
.show-map .marker-info{
    display: flex;
    font-size: 12px;
}
.show-map .marker-info .users-info{
    display: flex;
}
.show-map .marker-info .recomends-info{
    display: flex;
}
.show-map .recommend-list{
    padding: 10px;
}
.show-map .recommend-list li{
    margin-bottom:10px ;
    padding: 6px;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 8px;
}
